# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# Logs
*.log

# Database
*.db-shm
*.db-wal

# Debug outputs
maps-*.png
maps-*.html
first-*.html
google-test.png
business_urls.txt
structure.txt

# Temporary exports
*.csv
*.json

# OS
Thumbs.db
Desktop.ini

# README
!README.md
